///// site styles
body {
	background: $alpha_grey; 
}

a {
	text-decoration: none;
	color: $charlie_grey;
}

.icon_links {
	color: $white;
	font-size: #{$xxx_large_point_size / $em}em;
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
		font-size: #{($x_large_point_size + 6) / $em}em;
	}
	margin-top: 30px;
	a {
		display: inline-block;
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
			font-size: #{($xx_large_point_size - 10) / $em}em;
			display: block;
			&:last-child {
				font-size: #{($xx_large_point_size - 20) / $em}em;
			}
		}
		&:hover {
			color: red;
		}
	}
}

.test {
	font-family: $icon_font_alpha;
	color: $white;
	font-size: 30px;
}

.icon {
	display: inline-block;
	cursor: pointer;
	margin-right: 20px;
	font-family: $icon_font_alpha;
	&:last-child {
		margin: 0;
	}
	span {
		font-size: 0;
	}	
}

.twitter {
	@extend .icon;
}

.linkedin {
	@extend .icon;
}

.github {
	@extend .icon;
}

.googleplus {
	@extend .icon;
}

.site_container {
	position: absolute;
	left: 50%;
	top: 50%;
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	   top: 0;
	   left: 0;
	   margin: #{20 / $em}em 0 0 0;
	   position: static;
	}
	color: $bravo_grey;
	text-align: center;
	margin-top: -200px;
	margin-left: -300px;
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
		margin-top: -200px;
		margin-left: -200px;
	}
	h1 {
		font-family: $webfont_alpha;
		color: $charlie_grey;
	}
	p {
		@include x_large;
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
		   font-size: #{$xx_large_point_size / $em}em;
		}
	}	
}

