@font-face {
    font-family: 'GettyRegular';
    src: url('fonts/getty_logo-webfont.eot');
    src: url('fonts/getty_logo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/getty_logo-webfont.woff') format('woff'),
         url('fonts/getty_logo-webfont.ttf') format('truetype'),
         url('fonts/getty_logo-webfont.svg#GettyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}