@font-face {
	font-family: 'zocial';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/zocial-regular-webfont.eot');
	src: url('fonts/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zocial-regular-webfont.woff') format('woff'),
         url('fonts/zocial-regular-webfont.ttf') format('truetype'),
         url('fonts/zocial-regular-webfont.svg#ZocialRegular') format('svg');
}